<%- include ("partials/header.ejs") %>



    <form class="form-horizontal" action="/generate" method="get">
      <button type="submit" name="button" class="btn btn-outline-primary btn-sm">Generate new reference number</button>
    </form>





<%- include ("partials/footer.ejs") %>
