<%- include ("partials/header.ejs") %>

<h3>Reference Number <%= savedReferenceNumber %> saved to database</h3>
<form class="form-horizontal" action="/generate" method="get">
  <button type="submit" name="button" class="btn btn-success btn-sm">Generate another reference number</button>
</form>

<%- include ("partials/footer.ejs") %>
